# Auto detect text files and perform LF normalization
* text=auto

# Source files
*.py      text diff=python

# To ignore during exports
/test     export-ignore
/.github  export-ignore
.pylintrc export-ignore

# To removed from statistics
/test/datasets/** linguist-documentation