GHint {
    border:1px solid rgb(41, 41, 41);
    background-color: #e4ebb7
}
_GArrow {
    border:0px;
}
_GArrow QPoint {
    border:0px;
}
_GTitle {
    border:1px solid rgb(41, 41, 41);
    background-color: #acc5f2;
}
GTagBar {
    border:1px sunken;
    background-color: #d1d1d1;
    padding:2px
}
GTagBar QPushButton {
    border:0px sunken;
    font-weight:bold
}
GTagBar QLabel {
    background-color:#c4edc2;
    font-size:12px;
    border-radius:4px;
    padding-left:2px
}
GCloze {
    border:1px solid rgb(41, 41, 41);
    border-radius: 3px;
    background-color:#60cd5a;
    margin: 0px;
}
GAnswer {
    border:1px solid rgb(41, 41, 41);
    border-radius: 3px;
    background-color:#60cd5a;
    margin: 0px;
}